.chatContainer{
    height: 84vh;
    margin-bottom: -50px !important;
}
.chatContainer .chat{
    margin-top: auto;
    margin-bottom: auto;
}
.chatContainer .chatLeft{
    width: 30%;
}
.chatRight{
    width: 60%;
}
.chatContainer .card{
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.chatContainer .contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.chatContainer .msg_card_body{
    overflow-y: auto;
}
.chatContainer .card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.chatContainer .card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.chatContainer .container{
    align-content: center;
}
.chatContainer .search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.chatContainer .search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.chatContainer .type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
.chatContainer     .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.chatContainer .attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.chatContainer .send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.chatContainer .search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.chatContainer .contacts{
    list-style: none;
    padding: 0;
}
.chatContainer .contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.chatContainer .active{
    background-color: rgba(0,0,0,0.3);
}
.chatContainer .user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;
    object-fit: cover;
}
.chatContainer .user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;
    object-fit: cover;
}
.chatContainer .chatContainer .img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.chatContainer .img_cont_msg{
    height: 40px;
    width: 40px;
}
.chatContainer .online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.chatContainer .offline{
background-color: #c23616 !important;
}
.chatContainer .user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.chatContainer .user_info span{
font-size: 20px;
color: white;
}
.chatContainer .user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.chatContainer .video_cam{
margin-left: 50px;
margin-top: 5px;
}
.chatContainer .video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.chatContainer .msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
padding: 10px;
position: relative;
}
.chatContainer .msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
padding: 10px;
position: relative;
}
.sendColor{
    background-color: #78e08f;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.recieveColor{
    background-color: #82ccdd;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.chatContainer .msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.chatContainer .msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.chatContainer .msg_head{
position: relative;
}
.chatContainer #action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.chatContainer .action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.chatContainer .action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.chatContainer .action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.chatContainer .action_menu ul li i{
padding-right: 10px;

}
.chatContainer .action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 768px){
    .chat{
    width: 100% !important;
    margin-bottom: 20px !important;
}
}
@media(max-width: 576px){
    .chatContainer .contacts_card{
margin-bottom: 15px !important;
}
}
