.btn-follow{
    border: none;
}
.btn-follow span{
    left: 38px !important;
}
.btn-follow i{
    color: var(--meta-active-background);
    font-size: 1rem;
}
.profileName{
    color: var(--meta-sub-color) !important;
}