@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    background-color: #eee
}
.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.authboxes{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.active{
    background-color: #ffb3c6;
}
.activeBadge{
    background-color: rgb(37, 37, 37);
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    color: white  ;
    justify-content: center;
    align-items: center
}


.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: black  ;
    justify-content: center;
    align-items: center
}

.heading{
    font-size: 17px;
    font-weight: 700;
}

.font{
    color: #ee82ee  ;
    font-weight: 700;
    font-size: 13px;
}

.activeHeader{
    color: rgb(37, 37, 37);
}

.notActiveHeader{
    color: black;
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress-bar {
    background-color: #ffb3c6;
}
.activeProgress-bar{
    background-color: rgb(37, 37, 37);
}
.text1 {
    font-size: 13px;
    font-weight: 600
}

.text2 {
    font-size: 13px;
    color: #a5aec0
}

.activePage{
    color: rgb(37, 37, 37);
    font-weight: 700;
}

@media only screen and (max-width: 767px) {
    .authbb{
        display: none;
    }
}