body{
    padding: 0 !important;
}

.body{
    --meta-color: #0c0c0e;
    --meta-sub-color: #363846;
    --meta-background: #FDEFF4;
    --meta-sub-background: white;
    --meta-active-background: #3d3d3d;
}
.body2{
    background-color: #0c0c0d;
    min-height: 100vh;
    height: 100%;
    min-width: 100vw;
}
.fontSize12{
    font-size: 12px;
}
.metaColor{
    color: var(--meta-color);
}
.metaSubColor{
    color: var(--meta-sub-color);
}
.gill{
}
.flex-layout {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

::selection{
    background-color: #ffd30f;
    color: #191825;
}

.alignItems{
    align-items: center !important;
}
@media only screen and (max-width: 1199px) {
    .fontSize12 {
      font-size: 10px !important;
    }
    .fontSizeLarge{
      font-size: 11px !important;
    }
    .fontSizeL{
        font-size: 12px !important;
    }
}
