.profileName{
    font-weight: 700;
}
.visitProfileButton{
    border-radius: 10px;
    color: var(--meta-active-background);
}
.visitProfileButton:hover{
    color: var(--meta-active-background);
}
.profileBlock{
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(209, 209, 209);
}
.colorBottomBorder{
    border-bottom: 1px solid #333333;
}
.btnProfileEditShare{
    background-color: #e2e2e0;
    padding: 4px;
    color: var(--meta-color);
    border-radius: 10px;
}
.lightText{
    color: #ffffffe8 !important;
}
.backgroundOfBtn{
    background-color: #0c0c0dcb !important;
}
.backgroungCard{
    background-color: #191819 !important;
}
.colorBorder{
    border: 1px solid #333333 !important;
}
.colorPBorder{
    border: none !important;
}
.followingModal{
    width: 100%;
}
.MuiModalDialog-root{
    width: 22vw !important;
}