.borderR{
    border-radius: 20px;
}
.justify-content-between{
    justify-content: space-between !important;
}
.colorChange{
    color: var(--meta-active-background);
}
.postBtn{
    border-radius: 10px;
    background-color: var(--meta-active-background);
    color: var(--meta-sub-background);
    font-weight: bold;
    transition: 0.1s ease-out;
}
.postBtn:hover{
    background-color: var(--meta-color);
    color: var(--meta-sub-background);
}
.profileName{
    color: var(--meta-color);
    text-decoration: none !important;
}
.textDeco{
    text-decoration: none !important;
}
.captionnn{
    display: flex;
    align-items: center;
}
.captionInput{
    padding-left: 5px !important;
}