.fontHeartColor{
    color: var(--meta-active-background);
}
.postCard{
    border: 1px solid rgb(209, 209, 209);
}
.postCardImage{
    padding: 10px;
    padding-bottom: 0;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}
#commentButton{
    background-color: var(--meta-color) !important;
}
.whiteSpaceColor{
    background-color: #eeeeee !important;
}
.whiteSpaceSecondColor{
    background-color: #0c0c0d !important;
}
.whiteSpaceFirstColor{
    background-color: #191819 !important;
}
.widthHeight{
    margin-top: 90px;
    overflow: auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 20px !important;
    height: 100%;
    background-color: var(--meta-sub-background);
    max-height: 45vh !important;
}
.divColor{
    padding: 10px 23px !important;
    background-color: var(--meta-sub-background);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}
.divColor2{
    padding: 10px 23px !important;
    background-color: var(--meta-sub-background);
    box-shadow: none !important;
}
#commentBox .MuiInput-root{
    border: 1px solid #333333;
}
.fa-trash:hover{
    color: red;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .widthHeight{
        margin-top: 0px;
    }
    .marginInSmall{
        margin-top: 20px;
    }
}